
@{
    ViewBag.Title = "CreateFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<p class="success">  Coach Created successfully !! </p>


<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>

