
@{
    ViewBag.Title = "DeleteFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cancel Booking</h2>

<div><p class="success">
        Booking has been cancelled !!
    </p></div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>