
@{
    ViewBag.Title = "BoradcastEmailSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Broadcast Email</h2>

<p class="success"> Email has send successfully !!!</p>

<br />
<br />
<br />
<br />

<div>
    @Html.ActionLink("List Workshops", "Index")
</div>



