
@{
    ViewBag.Title = "CreateFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateFeedback</h2>

<p class="success">New Workshop added successfully !!</p>

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>

