
@{
    ViewBag.Title = "DeleteFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteFeedback</h2>

<div>
    <p class="success">The selected workshop has been deleted !!</p>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

