
@{
    ViewBag.Title = "CreateFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateFeedback</h2>

<p class="success"> Game created Successfully !!!</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


