@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>PlayMore</h3>

<p>
    PlayMore is a digital platform bringing together young athletes and coaches/academies online for an exceptional performance off-line.

    Up and running since April 2017, PlayMore is all about helping you, as a parent, explore your child’s first step into the land of sports, or further enhance their game-skills. Not just that, PlayMore is also about turning your school-time sporty memories into live action and fitness routine, for the busy professional in you!
</p>
<p>
<p><a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'">Back </a></p>
</p>
