@{
    ViewBag.Title = "Contact";
}
<h3>Contact Us</h3>

<address>
    Admin<br />
    37, Dunferline, Cranbourne<br />
    <abbr title="Phone">Phone:</abbr>
    0460323232
</address>

<address>
    <strong>Techinical Issues:</strong>   <a href="mailto:Support@example.com">PlayMoreTechSupport@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:Marketing@example.com">PlayMoreSupport@example.com</a>
</address>

<p><a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'">Back </a></p>
</p>