@{
    ViewBag.Title = "Home Page";
}

<style>

</style>


<div class="jumbotron">
    <h1>PlayMore</h1>
    <p class="lead">Discover and book from a curated list of sports venues in your city only on Playmore</p>
    <p class="lead">Get professional training for a wide range of Games like Cricket, Football, BasketBall, Tennis etc from experts. Click to start booking</p>
    <p><a onclick="location.href='@Url.Action("UserWSList", "Bookings")'" class="btn btn-primary btn-lg">Book Now&raquo;</a></p>

    

</div>

<div class="row" >
    <div class="col-12 col-sm-6 col-md-4">
        <h2>Sign In</h2>
        <p>
           Sign into the application to book workshops and view your bookings !!
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("UserWSList", "Bookings")'">Sign In &raquo;</a></p>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <h2>About us</h2>
        <p>Know more about the largest sports ecosystem in Australia.</p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("About", "Home")'">Know More &raquo;</a></p>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <h2>Got Questions?</h2>
        <p>Contact us anytime regarding any sort of queries regarding booking or any workshop details</p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Contact", "Home")'">Contact Us &raquo;</a></p>
    </div>
</div>